.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: hsl(225, 99%, 46%);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  padding: 0px 100px;
}

.navLogo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navLogo > a {
  font-size: 1.2em;
  font-family: "Roboto";
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.navImg {
  width: 50px;
  height: 50px;
}

.navBtns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  font-size: 1em;
  font-family: roboto;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.navLinks a:hover {
  transform: scale(110%);
}

.signUpBtn {
  font-size: 1em;
  font-family: roboto;
  font-weight: 500;
  color: hsl(225, 99%, 46%);
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  background-color: hsl(0, 0%, 100%);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.signUpBtn:hover {
  background-color: hsl(0, 0%, 90%);
}

.menuIcon {
  display: none;
  font-size: 2.5em;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.mobileNav {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 60%;
  background-color: hsl(225, 99%, 46%);
  display: flex;
  flex-direction: column;
  padding: 80px 20px;
  gap: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.open {
  right: 0;
}

.navLink {
  font-size: 1.1em;
  font-family: roboto;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 16px;
  font-size: 2.5em;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navBarContainer {
    padding: 0 16px;
  }

  .navBtns {
    display: none;
  }

  .menuIcon {
    display: block;
  }

  .signUpBtn {
    color: hsl(224, 53%, 25%);
    background-color: hsl(0, 0%, 100%);
    border: 8px solid hsl(224, 86%, 67%);
    text-align: center;
  }
}
