*{
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

@media (min-width: 320px) and (max-width: 480px){
    html{
      font-size: 70%;
    }
}