.chartContainer{
    display: flex;
    height: 250px;
    width: 260px;
    padding: 16px;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chartRanges{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    margin-right: 5px;
    height: 200px;
}

.range{
    font-size: 0.8em;
    font-family: roboto;
    color: hsl(0, 0%, 80%);
}

.bars{
    display: flex;
    gap: 32px;
    height: 200px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 0 16px;
}

.barContainer{
    display: flex;
    align-items: end;
    width: 16px;
    height: 100%;
}

.bar{
    width: 100%;
    background-color: #2563eb;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    position: relative;
    max-height: 100%;
}

.barValue{
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 1;
    background-color:hsl(224, 86%, 78%);
    color: #fff;
    padding: 4px 6px;
    border-radius: 5px;
    font-size: 0.9em;
    font-family: roboto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2 ease-in-out;
}

.bar:hover .barValue {
  opacity: 1;
}

.label{
    font-size: 0.8em;
    font-family: roboto;
    color: hsl(0, 0%, 80%);
}