.overviewContainer{
    display: flex;
    padding: 24px;
    gap: 16px;
}

.coursesInProgress{
    display: flex;
    flex-direction: column;
}

.overviewCourses{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainHeader{
    background-color: hsl(0, 0%, 95%);
    padding: 16px;
    border-radius: 16px;
    font-size: 1em;
    font-family: roboto;
    font-weight: 500;
    color: hsl(224, 84%, 63%);
    margin-bottom: 24px;
    width: 100%;
}

.headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    width: 100%;
    align-self: center;
}

.headers h3{
    font-size: 1em;
    font-family: roboto;
    font-weight: 500;
}

.headers p{
    font-size: 0.9em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(224, 84%, 63%);
    cursor: pointer;
}

.coursesList{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.courseCard{
    display: flex;
    align-items: stretch;
    gap: 5px;
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 3px 3px 6px hsla(0, 0%, 0%, 0.25);
}

.courseImage{
    width: 30%;
    object-fit: cover;
    border-radius: 8px;
}

.courseDetails{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 70%;
}

.courseCategory{
    font-size: 0.9em;
    font-family: roboto;
    font-weight: 400;
    width: fit-content;
    padding: 2px 5px;
    border-radius: 2px;
}

.courseTitle{
    font-size: 1.2em;
    font-family: roboto;
    font-weight: 500;
}

.courseDescription{
    font-size: 1em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(0, 0%, 45%);
}

.courseLessons{
    font-size: 0.9em;
    font-family: roboto;
}

.courseLessons span{
    color: hsl(0, 0%, 75%);
}

.actions{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: end;
}

.progressBar{
    background-color: hsl(0, 0%, 95%);
    width: 100%;
    height: 10px;
    border-radius: 8px;
}

.progressFill{
    height: 100%;
    background-color: hsl(224, 99%, 46%);
    border-radius: inherit;
    position: relative;
    max-width: 100%;
}

.resumeButton, .enrollButton{
    font-size: 1em;
    font-family: roboto;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 99%, 46%);
    width: fit-content;
    padding: 10px 15px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

.recommendedCourses > .coursesList {
    display: flex;
    flex-direction: row;
}

.recommendedCourses > .headers{
    margin-top: 30px;
}

.recommendedCourses .courseCard{
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.recommendedCourses .courseImage{
    width: 100%;
    height: 100px;
}

.recommendedCourses .courseDetails{
    width: 100%;
}

.overviewStats{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.statsHeader{
    font-size: 1em;
    font-family: roboto;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.statsHeader span{
    color: hsl(0, 0%, 75%);
}

.statCard1, .statCard2, .statCard3, .statCard4{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    width: 70%;
}

.statCard1 > i, .statCard2 > i, .statCard3 > i, .statCard4 > i{
    font-size: 1.5em;
}

.statCard1{
    background-color: hsl(52, 100%, 95%);
    color: hsl(36, 96%, 30%);
}

.statCard2{
    background-color: hsl(131, 81%, 96%);
    color: hsl(135, 100%, 21%);
}

.statCard3{
    background-color: hsl(210, 100%, 95%);
    color: hsl(215, 85%, 30%);
}

.statCard4{
    background-color: hsl(322, 100%, 95%);
    color: hsl(325, 74%, 27%);
}

.statDetails{
    font-size: 1em;
    font-family: roboto;
    font-weight: 500;
}

.statNumber{
    font-size: 2em;
    font-family: roboto;
}

.category-Tech {
  background-color: hsl(131, 81%, 96%);
  color: hsl(135, 100%, 21%);
}

.category-Finance {
  background-color: hsl(322, 100%, 95%);
  color: hsl(325, 74%, 27%);
}

.category-Management {
  background-color: hsl(0, 100%, 95%);
  color: hsl(0, 70%, 30%);
}

.category-Economics {
  background-color: hsl(210, 100%, 95%);
  color: hsl(215, 85%, 30%);
}

.category-Leadership {
  background-color: hsl(36, 100%, 95%);
  color: hsl(32, 90%, 30%);
}

.category-Human-Resources {
  background-color: hsl(260, 100%, 96%);
  color: hsl(265, 65%, 30%);
}

.category-International-Tax {
  background-color: hsl(170, 70%, 95%);
  color: hsl(175, 65%, 28%);
}

.category-Compliance {
  background-color: hsl(15, 100%, 95%);
  color: hsl(18, 80%, 30%);
}