.myCourseContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 16px;
}

.searchContainer{
    display: flex;
    gap: 10px;
}

.searchInputs{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    position: relative;
}

.searchInput{
    padding: 10px 15px;
    width: 100%;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 16px;
    background-color: hsl(0, 0%, 90%);
}

.searchInputs i {
    font-size: 1.5em;
    color: hsl(0, 0%, 75%);
    position: absolute;
    right: 10px;
}

.headers{
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-family: roboto;
    font-weight: 600;
    margin: 30px;
    position: relative;
}

.headers::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 10%;
  height: 3px;
  background-color: hsl(240, 100%, 50%);
  border-radius: 8px;
  margin-top: 3px;
}

.courseCards{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.courseCard{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 500px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 3px 3px 6px hsla(0, 0%, 0%, 0.25);
}

.courseDetails{
    display: flex;
    gap: 8px;
    align-items: center;
}

.courseImage{
    width: 30%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.courseText{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.courseTitle{
    font-size: 1.2em;
    font-family: roboto;
    font-weight: 500;
}

.courseDescription{
    font-size: 1em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(0, 0%, 45%);
}

.courseLessons{
    font-size: 0.9em;
    font-family: roboto;
}

.courseLessons span{
    color: hsl(0, 0%, 75%);
}

.courseActions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.progressBar{
    background-color: hsl(0, 0%, 95%);
    width: 100%;
    height: 10px;
    border-radius: 8px;
}

.progressFill{
    height: 100%;
    background-color: hsl(224, 99%, 46%);
    border-radius: inherit;
    position: relative;
    max-width: 100%;
}

.courseCategory{
    font-size: 0.9em;
    font-family: roboto;
    font-weight: 400;
    background-color: hsl(131, 81%, 96%);
    color: hsl(135, 100%, 21%);
    width: fit-content;
    padding: 2px 5px;
    border-radius: 2px;
}

.courseCategory span{
    color: hsl(0, 0%, 75%);
    font-weight: 500;
}

.resumeButton, .certificateButton{
    font-size: 1em;
    font-family: roboto;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 99%, 46%);
    width: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    align-self: end;
}

.noCourses{
    font-size: 1.5em;
    font-family: roboto;
    font-family: 500;
    color: hsl(0, 0%, 75%);
}

.category-Tech {
  background-color: hsl(131, 81%, 96%);
  color: hsl(135, 100%, 21%);
}

.category-Finance {
  background-color: hsl(322, 100%, 95%);
  color: hsl(325, 74%, 27%);
}

.category-Management {
  background-color: hsl(0, 100%, 95%);
  color: hsl(0, 70%, 30%);
}

.category-Economics {
  background-color: hsl(210, 100%, 95%);
  color: hsl(215, 85%, 30%);
}

.category-Leadership {
  background-color: hsl(36, 100%, 95%);
  color: hsl(32, 90%, 30%);
}

.category-Human-Resources {
  background-color: hsl(260, 100%, 96%);
  color: hsl(265, 65%, 30%);
}

.category-International-Tax {
  background-color: hsl(170, 70%, 95%);
  color: hsl(175, 65%, 28%);
}

.category-Compliance {
  background-color: hsl(15, 100%, 95%);
  color: hsl(18, 80%, 30%);
}